@font-face {
    font-family: 'Montserrat-Arabic';
    src: url('Montserrat-Arabic-Bold.woff2') format('woff2'),
        url('Montserrat-Arabic-Bold.woff') format('woff'),
        url('Montserrat-Arabic-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Arabic';
    src: url('Montserrat-Arabic-Light.woff2') format('woff2'),
        url('Montserrat-Arabic-Light.woff') format('woff'),
        url('Montserrat-Arabic-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Arabic';
    src: url('Montserrat-Arabic-Medium.woff2') format('woff2'),
        url('Montserrat-Arabic-Medium.woff') format('woff'),
        url('Montserrat-Arabic-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Arabic';
    src: url('Montserrat-Arabic-Regular.woff2') format('woff2'),
        url('Montserrat-Arabic-Regular.woff') format('woff'),
        url('Montserrat-Arabic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

